{% extends 'account/base/layout.html' %}
{% load static %}
{% block Content %}
    <div class="account-header">
        <a href="{% url 'index' %}">
            <img src="{% static 'panels/images/main-logo.svg' %}" alt="main-logo">
        </a>
        <h3>Forget Password</h3>
    </div>

    <form class="account-wrap">
        <div class="form-group mb-24 icon">
            <input type="email" class="form-control" placeholder="Email">
            <img src="{% static 'panels/images/icon/sms.svg' %}" alt="sms">
        </div>
        <div class="form-group mb-24">
            <button type="submit" class="default-btn">Submit</button>
        </div>
        <div class="form-group mb-24">
            <p class="account text-center">Forgot It? <a href="{% url 'register' %}">Send me Back</a></p>
        </div>
    </form>

    <ul class="account-social-link">
        <li>
            <a href="#" target="_blank">
                <i class='bx bxl-google'></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class='bx bxl-facebook'></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class='bx bxl-twitter'></i>
            </a>
        </li>
    </ul>
{% endblock %}